QLabel {
	font-family:Roboto Black 900;
	font-size:12px;
}

QPushButton {
	font-family:Roboto;
	font-size:12px;	
	border: 2px solid gray;
	border-radius: 4px;
}

QCheckBox {
	font-family:Roboto;
	font-size:12px;	
}

QLineEdit, QTextEdit {
	border: 2px solid gray;
	border-radius: 4px;
}
